@page "/"

<PageTitle>Home</PageTitle>

<h1>Bem-vindo ao Desafio!</h1>

<p>Aplicação de E-commerce com Microserviços construída com .NET 8 e Blazor.</p>
<p>Use o menu de navegação à esquerda para gerenciar os produtos após fazer o login.</p>